<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css"
        rel="stylesheet">
  <style>
    .container {
    max-width: 620px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      // 장바구니에서 제거 버튼 클릭 시 이벤트 핸들러 추가
      $(document).on('click', '.removeItemBtn', function() {
        var itemName = $(this).data('item-name');
        removeItem(itemName); // 선택한 아이템을 제거하는 함수 호출
      });

    });

    function removeItem(itemName) {

      var memberId = document.getElementById('memberId').value;

      // AJAX 요청을 통해 서버에 아이디 중복 여부 확인
      $.ajax({
        type: 'POST',
        url: '/members/removeItems', // 서버의 체크용 URL
        data: { memberId: memberId, itemName: itemName }, // 요청에 데이터를 첨부
        success: function(response) {
          if (response.result) {
            alert('장바구니에서 제거 완료.');
            location.replace("/members/items");
          } else {
            alert('장바구니에서 제거 실패');
            location.reload();
          }
        },
        error: function() {
          alert('서버 오류가 발생했습니다.');
        }
      });
    }
  </script>
</head>
<body>
<div>
  <span th:text="${session.member.memberId} + '님 환영합니다!!'"></span>
  <button class="btn btn-primary btn-sm"
          th:onclick="|location.href='@{/members/items}'|"
          type="button">장바구니</button>
  <button class="btn btn-primary btn-sm"
          th:onclick="|location.href='@{/members/orders}'|"
          type="button">주문내역</button>
  <div>
    <button class="btn btn-primary btn-sm"
            th:onclick="|location.href='@{/members/edit}'|"
            type="button">회원정보 수정</button>
    <button class="btn btn-secondary btn-sm"
            th:onclick="|location.href='@{/}'|"
            type="button">로그아웃</button>
  </div>
</div>
<br>
<div class="container">

  <h2>장바구니 목록</h2>
  <div style="display:none;">
    <input type="hidden" id="memberId" name="memberId" th:value="${session.member.memberId}">
  </div>
  <table style="width:100%">
    <tr>
      <th>상품순번</th>
      <th>상품이름</th>
      <th>상품가격</th>
      <th>수량</th>
      <th></th>
    </tr>
    <tr th:each="item : ${memberItems}">
      <td th:text="${itemStat.count}">itemCount</td>
      <td th:text="${item.itemName}">itemName</td>
      <td th:text="${item.itemPrice}">price</td>
      <td th:text="${item.itemQuantity}">quantity</td>
      <td>
        <button class="w-100 btn btn-primary btn-lg removeItemBtn"
                th:data-item-name="${item.itemName}"
                type="button">장바구니에서 빼기</button>
      </td>
    </tr>
  </table>

</div>
</body>
</html>