<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
  <p th:text="${session.member.memberId} + '님 환영합니다!!'"></p>
  <button type="button">
    <a href="/members/${session.member.memberId}/items">장바구니</a>
  </button>
  <button type="button">
    <a href="/members/${session.member.memberId}/orders">주문내역</a>
  </button>
</div>
<div>
  <table>
    <tr>
      <th colspan="5" style="text-align:left;">오메가3</th>
    </tr>
    <tr>
      <td>상품1</td>
      <td>상품2</td>
      <td>상품3</td>
      <td>상품4</td>
      <td>상품5</td>
    </tr>
    <tr>
      <th colspan="5" style="text-align:left;">마그네슘</th>
    </tr>
    <tr>
      <td>상품1</td>
      <td>상품2</td>
      <td>상품3</td>
      <td>상품4</td>
      <td>상품5</td>
    </tr>
    <tr>
      <th colspan="5" style="text-align:left;">비타민B</th>
    </tr>
    <tr>
      <td>상품1</td>
      <td>상품2</td>
      <td>상품3</td>
      <td>상품4</td>
      <td>상품5</td>
    </tr>
    <tr>
      <th colspan="5" style="text-align:left;">비타민C</th>
    </tr>
    <tr>
      <td>상품1</td>
      <td>상품2</td>
      <td>상품3</td>
      <td>상품4</td>
      <td>상품5</td>
    </tr>
    <tr>
      <th colspan="5" style="text-align:left;">비타민D</th>
    </tr>
    <tr>
      <td>상품1</td>
      <td>상품2</td>
      <td>상품3</td>
      <td>상품4</td>
      <td>상품5</td>
    </tr>
    <tr>
      <th colspan="5" style="text-align:left;">유산균</th>
    </tr>
    <tr>
      <td>상품1</td>
      <td>상품2</td>
      <td>상품3</td>
      <td>상품4</td>
      <td>상품5</td>
    </tr>
  </table>
</div>
</body>
</html>